html{
  background-color: #fff;
}

h1, h2, h3, h4,
header a{
  font-family: 'Montserrat', sans-serif; /* http://www.google.com/fonts/specimen/Montserrat#pairings */
}
section{
  padding: 25px 0;
}
section.section-dark{
  background-color: #5f6f90;
  text-align: center;
}

h1{
  color: #b1e2f4;
  text-shadow: 1px 1px 0 #231f20;
}
h2{
  color: #fff;
  font-weight: normal;
}