.scrolled{
  &>header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
  #logo{
    // font-size: 2em;
    // line-height: 3em;
    @include scale(0.5);
    @include transform-origin(0%, 100%);
  }
  #intro{
    margin-top: 123px;
  }
}