/*! Paul Sham's portfolio style */

/*
* Modified from HTML5 Boilerplate style
*/


$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

$ps-color-primary: #5f6f90;
$ps-color-secondary: #b1e2f4;
//$ps-color-highlight: #f89b6c;
$ps-color-highlight: #600201;

// @mixin ps-shadow(){

// }
@import 'compass/css3';
//@import 'sass-bootstrap/lib/bootstrap';

@import 'normalize';
@import 'h5bp-base';

// Author styles
@import 'base';
@import 'styles';

@import 'h5bp-helper';



@media print {
  @import 'print';
}